Repository oracle/vagrant-projects, pull requests merged in 2020-01, with the labels that each got.

#191 Introducing OL8 box
  OracleLinux/8/LICENSE
  OracleLinux/8/README.md
  OracleLinux/8/Vagrantfile
  OracleLinux/8/scripts/install.sh
Labels: linux

#194 Kubernetes: address compatibility issue with docker 19.03
  Kubernetes/README.md
  Kubernetes/scripts/provision.sh
Labels: kubernetes

#192 Don't abort install on non-zero return code from runInstaller
  OracleDatabase/18.3.0/scripts/install.sh
Labels: database
